/* ---------- Global ---------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9bc7c7;
}

button,
input {
    font: inherit;
}

button {
    cursor: pointer;
}

.calculator {
    width: 320px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 24px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);

}

.display {
    min-height: 90px;
    padding: 20px 12px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-size: 2rem;
    font-weight: 500;

    text-align: right;
    
    overflow: hidden;
    white-space: nowrap;

    background-color: #e8eeee;
    border-radius: 16px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-row {
    display: flex;
    gap: 8px
}

.button-row button {
    flex: 1;
}

button {
    height: 55px;

    border: none;
    border-radius: 12px;

    font-size: 1.1rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease, filter 0.1s ease;
}

.number {
    background-color: #e8eeee;
    color: #263838;
}

.action {
    background-color: #d4dddd;
    color: #263838;
}

.operator {
    background-color: #4f9999;
    color: #ffffff;
}

.equals {
    background-color: #2f7777;
    color: #ffffff;
}

button:hover {
    filter: brightness(0.95);
}

button:active {
    transform: scale(0.96);
}